<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.example.games.mainlibproj"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="\u003" />

        <meta-data android:name="com.google.android.gms.games.unityVersion"
            android:value="\u0030.10.14" />

        <activity android:name="com.google.games.bridge.NativeBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>

    <style name="AppTheme" parent="android:Theme.Holo.Light.NoActionBar.Fullscreen">
        <item name="android:statusBarColor">#097E39</item>
    </style>
</manifest>
